<div style="padding: 2rem">
  <p-toast />
  <p-confirmdialog />

  <p-dialog
    header="Mettre à jour le niveau"
    [visible]="showNiveauDialog()"
    (visibleChange)="showNiveauDialog.set($event)"
    [modal]="true"
    [style]="{ width: '400px' }"
  >
    <div style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem">
      <p>
        Sélectionner le nouveau niveau pour
        <strong>{{ membreSelectionne()?.prenom }} {{ membreSelectionne()?.nom }}</strong>
      </p>
      <p-select
        [options]="niveaux"
        [ngModel]="niveauSelectionne()"
        (ngModelChange)="niveauSelectionne.set($event)"
        optionLabel="label"
        optionValue="value"
        [appendTo]="'body'"
        style="width: 100%"
      />
      <p-button label="Confirmer" (onClick)="confirmerNiveau()" />
    </div>
  </p-dialog>
  <div style="margin-top: 4rem">
    <app-page-header titre="Membres d'Odoru">
      <input
        pInputText
        [ngModel]="recherche()"
        (ngModelChange)="recherche.set($event)"
        placeholder="Rechercher un membre..."
        style="width: 250px"
      />
    </app-page-header>
  </div>
  <p-table [value]="membresFiltres()" [paginator]="true" [rows]="10" dataKey="identifiant">
    <ng-template pTemplate="header">
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Nom d'utilisateur</th>
        <th>Email</th>
        <th>Résidence</th>
        <th>Niveau</th>
        <th>Rôle</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-membre>
      <tr>
        <td>{{ membre.nom }}</td>
        <td>{{ membre.prenom }}</td>
        <td>{{ membre.nomUtilisateur }}</td>
        <td>{{ membre.courriel }}</td>
        <td>
          {{ membre.adresse?.ville }}{{ membre.adresse?.ville && membre.adresse?.pays ? ', ' : ''
          }}{{ membre.adresse?.pays }}
        </td>
        <td>{{ membre.niveauExpertise }}</td>
        <td>{{ membre.role }}</td>
        <td style="display: flex; gap: 0.5rem">
          @if (membre.role === 'MEMBRE') {
            <app-action-button
              icon="pi pi-user-plus"
              couleur="#6495ED"
              tooltip="Désigner enseignant"
              (clicked)="confirmerDesignation(membre)"
            />
          }
          <app-action-button
            icon="pi pi-pencil"
            couleur="#90949E"
            tooltip="Mettre à jour le niveau"
            (clicked)="ouvrirDialogNiveau(membre)"
          />
          <app-action-button
            icon="pi pi-trash"
            couleur="#8F4A3F"
            tooltip="Supprimer"
            (clicked)="confirmerSuppression(membre)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
