<div style="padding: 2rem">
  <p-toast />
  <p-confirmdialog />

  <app-creneau-dialog
    [visible]="showCreneauxDialog()"
    (visibleChange)="showCreneauxDialog.set($event)"
    [creneaux]="creneaux"
    [associations]="creneauxAssociations"
    (confirmer)="creerCreneau($event)"
  />

  <!-- Dialog résultats -->
  <p-dialog
    header="Résultats de la compétition"
    [visible]="showResultatsDialog()"
    (visibleChange)="showResultatsDialog.set($event)"
    [modal]="true"
    [style]="{ width: '600px' }"
  >
    <p-table [value]="resultats()">
      <ng-template pTemplate="header">
        <tr>
          <th>Élève</th>
          <th>Note</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-resultat>
        <tr>
          <td>{{ resultat.eleve?.prenom }} {{ resultat.eleve?.nom }}</td>
          <td>{{ resultat.note }}/10</td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>

  <!-- Dialog enregistrer résultat -->
  <p-dialog
    header="Enregistrer un résultat"
    [visible]="showEnregistrerResultatDialog()"
    (visibleChange)="showEnregistrerResultatDialog.set($event)"
    [modal]="true"
    [style]="{ width: '400px' }"
  >
    <div
      style="display: flex; flex-direction: column; gap: 1.5rem; padding: 1rem; padding-top: 1.5rem"
    >
      <p-floatlabel>
        <p-select
          id="eleve"
          [options]="membres()"
          [(ngModel)]="eleveId"
          optionLabel="nomUtilisateur"
          optionValue="identifiant"
          [appendTo]="'body'"
          style="width: 100%"
        />
        <label for="eleve">Élève <span style="color: rgb(148, 78, 78)">*</span></label>
      </p-floatlabel>
      <p-floatlabel>
        <p-inputnumber
          id="note"
          [(ngModel)]="nouvelleNote"
          [min]="0"
          [minFractionDigits]="1"
          [maxFractionDigits]="1"
          style="width: 100%"
        />
        <label for="note">Note (0-10) <span style="color: rgb(148, 78, 78)">*</span></label>
      </p-floatlabel>
      <app-form-buttons
        labelConfirmer="Enregistrer"
        labelAnnuler="Annuler"
        (annuler)="showEnregistrerResultatDialog.set(false)"
        (confirmer)="enregistrerResultat()"
      />
    </div>
  </p-dialog>

  @if (!showForm()) {
    <div style="display: flex; justify-content: flex-end; gap: 1rem; margin-bottom: 1rem">
      @if (authService.getRole() === 'ENSEIGNANT' || authService.getRole() === 'PRESIDENT') {
        <p-button
          icon="pi pi-clock"
          [rounded]="true"
          [style]="{ 'background-color': '#217b8a', border: 'none' }"
          pTooltip="Gérer les créneaux"
          tooltipPosition="bottom"
          (onClick)="showCreneauxDialog.set(true)"
        />
        <p-button
          label="Créer une compétition"
          [disabled]="aucunCreneau"
          [pTooltip]="aucunCreneau ? 'Aucun créneau disponible' : ''"
          tooltipPosition="bottom"
          [style]="{ 'background-color': aucunCreneau ? '#90949E' : '#217b8a', border: 'none' }"
          (onClick)="showForm.set(true)"
        />
      }
    </div>
  }

  @if (showForm()) {
    <p-card header="Créer une compétition" styleClass="margin-bottom: 2rem; display: block">
      <div style="display: flex; flex-direction: column; gap: 1.5rem; padding-top: 1rem">
        <div style="display: flex; gap: 1.5rem">
          <p-floatlabel style="flex: 1">
            <input
              pInputText
              id="titre"
              [(ngModel)]="nouvelleCompetition.titre"
              style="width: 100%"
            />
            <label for="titre">Titre <span style="color: rgb(148, 78, 78)">*</span></label>
          </p-floatlabel>
          <p-floatlabel style="flex: 1">
            <input
              pInputText
              id="lieu"
              [(ngModel)]="nouvelleCompetition.lieu"
              style="width: 100%"
            />
            <label for="lieu">Lieu <span style="color: rgb(148, 78, 78)">*</span></label>
          </p-floatlabel>
        </div>
        <div style="display: flex; gap: 1.5rem">
          <p-floatlabel style="flex: 1">
            <p-select
              id="creneau"
              [options]="creneauxOptions"
              [(ngModel)]="creneauSelectionne"
              optionLabel="label"
              optionValue="value"
              style="width: 100%"
            />
            <label for="creneau">Créneau <span style="color: rgb(148, 78, 78)">*</span></label>
          </p-floatlabel>
        </div>
        @if (authService.getRole() === 'PRESIDENT') {
          <div style="display: flex; gap: 1.5rem">
            <p-floatlabel style="flex: 1">
              <p-select
                id="niveau"
                [options]="niveaux"
                [(ngModel)]="nouvelleCompetition.niveauCible"
                (ngModelChange)="onNiveauChange()"
                optionLabel="label"
                optionValue="value"
                style="width: 100%"
              />
              <label for="niveau"
                >Niveau cible <span style="color: rgb(148, 78, 78)">*</span></label
              >
            </p-floatlabel>
            <p-floatlabel style="flex: 1">
              <p-select
                id="enseignant"
                [options]="enseignantsDisponibles"
                [(ngModel)]="enseignantId"
                optionLabel="prenom"
                optionValue="identifiant"
                [disabled]="!nouvelleCompetition.niveauCible"
                [pTooltip]="
                  !nouvelleCompetition.niveauCible ? 'Sélectionnez d\'abord un niveau' : ''
                "
                tooltipPosition="top"
                style="width: 100%"
              />
              <label for="enseignant"
                >Enseignant <span style="color: rgb(148, 78, 78)">*</span></label
              >
            </p-floatlabel>
          </div>
        }
        <app-form-buttons
          labelConfirmer="Créer"
          (annuler)="showForm.set(false)"
          (confirmer)="creerCompetition()"
        />
      </div>
    </p-card>
  }

  <div style="margin-top: 4rem">
    <app-page-header titre="Compétitions">
      <p-select
        [options]="niveaux"
        [ngModel]="filtreNiveau()"
        (ngModelChange)="filtreNiveau.set($event)"
        optionLabel="label"
        optionValue="value"
        placeholder="Filtrer par niveau"
        [showClear]="true"
        style="width: 200px"
      />
      <p-select
        [options]="enseignants"
        [ngModel]="filtreEnseignantId()"
        (ngModelChange)="filtreEnseignantId.set($event)"
        optionLabel="prenom"
        optionValue="identifiant"
        placeholder="Filtrer par enseignant"
        [showClear]="true"
        style="width: 200px"
      />
    </app-page-header>

    <p-table [value]="competitionsFiltrees()" [paginator]="true" [rows]="10" dataKey="identifiant">
      <ng-template pTemplate="header">
        <tr>
          <th>Titre</th>
          <th>Lieu</th>
          <th>Niveau</th>
          <th>Enseignant</th>
          <th>Créneau</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-competition>
        <tr>
          <td>{{ competition.titre }}</td>
          <td>{{ competition.lieu }}</td>
          <td>{{ competition.niveauCible }}</td>
          <td>{{ competition.enseignant?.prenom }} {{ competition.enseignant?.nom }}</td>
          <td>
            {{ competition.creneau?.jourSemaine }} {{ competition.creneau?.date | dateFormat }}
            <strong>
              {{ competition.creneau?.heureDebut?.slice(0, 5) }} -
              {{
                creneauService.calculerHeureFin(
                  competition.creneau?.heureDebut!,
                  competition.creneau?.duree!
                )
              }}
            </strong>
            ({{ competition.creneau?.duree }} min)
          </td>
          <td style="display: flex; gap: 0.5rem">
            <app-action-button
              icon="pi pi-list"
              [couleur]="(competition.resultats?.length ?? 0) > 0 ? '#6495ED' : '#90949E'"
              [tooltip]="
                (competition.resultats?.length ?? 0) > 0 ? 'Voir les résultats' : 'Aucun résultat'
              "
              [disabled]="(competition.resultats?.length ?? 0) === 0"
              (clicked)="voirResultats(competition)"
            />
            @if (authService.getRole() === 'ENSEIGNANT' || authService.getRole() === 'PRESIDENT') {
              <app-action-button
                icon="pi pi-plus"
                couleur="#90949E"
                tooltip="Enregistrer un résultat"
                (clicked)="ouvrirEnregistrerResultat(competition)"
              />
              <app-action-button
                icon="pi pi-trash"
                couleur="#8F4A3F"
                tooltip="Supprimer"
                (clicked)="confirmerSuppression(competition)"
              />
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
